{% extends 'employees_main/base.html' %}

{% block title %}
    ToDoList - {{employee.name}} {{employee.surname}}
{% endblock %}

{% block custom_style %}
    .my-custom-scrollbar {
        position: relative;
        height: 800px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
        overflow-x: hidden;
    }
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <a href="/" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Powrót do listy pracowników</a>
        </div>
        <div class="row justify-content-center">
            <h1 class="display-3">{{employee.name}} {{employee.surname}}</h1>
        </div>
        <div class="row justify-content-center">
            <p class="h6">Id pracownika: {{employee.id}}</p>
        </div>

    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-10">

                                    <h1><b>Lista zadań</b></h1>
                                    <h4><b>Suma zadań dla tego pracownika: <span id="number_of_tasks">{{tasks|length}}</span></b></h4>
                                    {% if tasks|length > 0 %}
                                            <form action="/export_csv/{{employee.id}}/">
                                                <button type="submit" class="btn btn-success btn-m active" aria-pressed="true">Exportuj CSV</button>
                                            </form>
                                    {% else %}
                                            <form action="/export_csv/{{employee.id}}/">
                                                <button type="submit" class="btn btn-success btn-m active" aria-pressed="true" disabled>Exportuj CSV</button>
                                            </form>
                                    {% endif %}
                                </div>
                                <div class="col-sm-2">
                                    <div class="button-box">
                                        <a href="#" class="btn btn-success btn-m active" role="button" aria-pressed="true" data-toggle="modal" data-target="#addNewTask">Dodaj zadanie</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <form id="task_form">
                            {% csrf_token %}
                            <table class="table table-striped table-hover table-bordered" id="tableEmp">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Opis</th>
                                        <th>Kategoria</th>
                                        <th>Deadline</th>
                                        <th>Status</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for task in tasks %}
                                        <tr id="trTask{{task.id}}">
                                            <td>{{task.id}}</td>
                                            <td>{{task.description}}</td>
                                            <td>{{task.category}}</td>
                                            <td>{{task.deadline_date}}</td>
                                            <td id="status{{task.id}}">{{task.status}}</td>
                                            <input id="statusValue{{task.id}}" value="{{task.status}}" type="hidden">
                                            <td>
                                                <button type="submit" name="change" value={{task.id}} class="btn btn-warning"><i class="fa fa-step-forward fa-lg" aria-hidden="true"></i></button>
                                                <button type="submit" name="remove" value={{task.id}} class="btn btn-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                      $('#tableEmp').DataTable({
                            "paging": false,
                            "bInfo" : false,
                            "bFilter": false,
                             columnDefs: [{
                                orderable: false,
                                targets: [0, 1, 2, 5]
                            }]
                          });
                      $('.dataTables_length').addClass('bs-select');
                    });
                </script>
            </div>
            <div class="col-lg-2">
                <div class="modal fade" id="addNewTask" tabindex="-1" role="dialog" aria-labelledby="addNewTaskLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addNewTaskLabel">Dodaj nowego zadanie dla tego pracownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>

                        <form method="post" action="/employee/{{employee.id}}">
                            {% csrf_token %}
                            <div class="modal-body">
                                {{form.as_p}}
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-success">Zapisz</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>

<script>
$('#sortTable').DataTable();
</script>


<script>
    $(document).on('submit', '#task_form', function(e){
        e.preventDefault();
        var task_id = document.activeElement.value;
        var number_of_tasks = parseInt(document.getElementById('number_of_tasks').textContent);

        if (document.activeElement.name == "change"){
            var status_value = document.getElementById('statusValue'+task_id).value;

            if (status_value == "Aktywne"){
                status_value = "Zamkniete";
            } else{
                status_value = "Aktywne";
            }
            $.ajax({
                type: 'POST',
                url: '/task/update/'+task_id+'/',
                data: {
                    action: "change_status",
                    new_status: status_value,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

                },
                success: function(data){
                    document.getElementById('statusValue'+task_id).value = status_value;
                    $('#status'+task_id).text(status_value);
                }
                });
        }else if(document.activeElement.name == "remove"){
            $.ajax({
                type: 'POST',
                url: '/task/update/'+task_id+'/',
                data: {
                    action: "remove",
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

                },
                success: function(data){
                    $('#trTask'+task_id).remove();
                    $('#number_of_tasks').text(number_of_tasks-1);
                }
            });
        }
    });
</script>
{% endblock %}